<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <cors enabled="true">
            <add origin="*">
                <allowHeaders allowAllRequestedHeaders="true" />
                    <allowMethods>
                        <add method="GET" />
                        <add method="HEAD" />
                        <add method="POST" />
                        <add method="PUT" />
                        <add method="DELETE" />
                    </allowMethods>
            </add>
        </cors>
        <rewrite>
            <rules>
                <rule name="rule 1">
                    <match url="(.*)" />
                    <action type="Rewrite" url="index.js" />
                </rule>
            </rules>
        </rewrite>
        <iisnode
            loggingEnabled="true"
            nodeProcessCountPerApplication="1"
            maxConcurrentRequestsPerProcess="1024"
            maxNamedPipeConnectionRetry="100"
            namedPipeConnectionRetryDelay="250"
            maxNamedPipeConnectionPoolSize="512"
            maxNamedPipePooledConnectionAge="30000"
            asyncCompletionThreadCount="0"
            initialRequestBufferSize="10485760"
            devErrorsEnabled="true"
            flushResponse="false"
            maxRequestBufferSize="10485760"
            nodeProcessCommandLine="C:\Program Files\iis express\NODE\v14.20.1\node.exe --trace-deprecation" />
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="2147483648" maxUrl="1114096" maxQueryString="1112048" />
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
