/**
 * Vuetify Styles Overrides
 */
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@500;700&display=swap");
//@font-face {
//  font-family: 'Cairo';
//  src: url('../../fonts/Cairo.ttf');
//
//}
//@font-face {
//  font-family: 'cairo';
//  src: url('./@fontsource/cairo/index.css');
//}
// Flex min-width: 0
.v-application .d-flex {
  min-width: 0;
}

// Text Overrides
.v-application p {
  margin-bottom: 20px;
}

.v-application .text-number {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji !important;
}
*,
.v-application--wrap,
.v-application .display-1,
.v-application .title {
  font-family: "Cairo" !important;
  //d
}
.v-card__title {
  font-weight: 600;
}
// List Component
.v-list-item__title {
  font-size: 0.975rem;
  font-weight: 600;
}

.v-list-item__action:first-child,
.v-list-item__icon:first-child {
  margin-right: 14px !important;
}

.v-application--is-rtl {
  .v-list-item__action:first-child,
  .v-list-item__icon:first-child {
    margin-right: 0 !important;
    margin-left: 14px !important;
  }
}

.v-list-item__action:first-child,
.v-list-item__icon:first-child {
  margin-right: 14px !important;
}

.v-list-group__header__append-icon .v-icon {
  font-size: 1rem;
}

.v-list-group__header .v-list-item__icon.v-list-group__header__append-icon {
  min-width: 0 !important;
}

.v-list-item__icon {
  margin: auto;
  justify-content: center;
}

.v-list-group--sub-group .v-list-group__header {
  padding-left: $spacer !important;
}

.v-list-group__items {
  margin-bottom: $spacer;
}

// Navigation Drawer
.v-navigation-drawer__content {
  flex: 1 1 auto;
  overflow-y: auto;
  min-height: 0px;
  padding: 8px 0;
  background: linear-gradient(white 30%, rgba(255, 255, 255, 0)),
    linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%,
    radial-gradient(
      farthest-side at 50% 0,
      rgba(0, 0, 0, 0.06),
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
        farthest-side at 50% 100%,
        rgba(0, 0, 0, 0.06),
        rgba(0, 0, 0, 0)
      )
      0 100%;
  background-repeat: no-repeat;
  background-size: 100% 40px, 100% 40px, 100% 15px, 100% 15px;
  background-attachment: local, local, scroll, scroll;
}

.unread-notification {
  background: #ebebeb;
}

// .daterangepicker td.in-range{
//   background-color: var(--v-primary-darken4);
//   color: var(--v-primary-lighten1) ;
// }
.daterangepicker td.active,
.daterangepicker td.active:hover,
.daterangepicker .ranges li.active {
  background-color: var(--v-primary-base) !important;
}
.daterangepicker td.off.end-date.active {
  color: #fff;
}

.theme--dark .v-navigation-drawer__content {
  background: none;
}
.theme--dark .reportrange-text[data-v-1ebd09d2] {
  background: none;
}
.theme--dark .daterangepicker {
  background: #05090c;
}

.theme--dark .daterangepicker .calendar-table {
  background-color: #111b27;
}

.theme--dark .daterangepicker td,
.theme--dark .daterangepicker th {
  background-color: #111b27;
}
.theme--dark {
  .daterangepicker td.off,
  .daterangepicker td.off.end-date,
  .daterangepicker td.off.in-range,
  .daterangepicker td.off.start-date {
    background-color: #2b3847;
    color: #fff;
  }
  .daterangepicker td.in-range {
    background-color: var(--v-primary-darken4);
    color: var(--v-primary-lighten1);
  }
  .daterangepicker td.active,
  .daterangepicker td.active:hover {
    background-color: var(--v-primary-base);
    color: #fff !important;
  }
  .daterangepicker .calendar-table .next span,
  .daterangepicker .calendar-table .prev span {
    border-color: #fff;
  }
  .unread-notification {
    background: #242424;
  }
}
.daterangepicker .btn-primary,
.daterangepicker .btn-success {
  background-color: var(--v-primary-base) !important;
  border-radius: 4px;
}
.daterangepicker .btn-secondary {
  border-radius: 4px;
}

// Tables
.v-data-table {
  table {
    padding: 4px;
    padding-bottom: 8px;

    th {
      text-transform: uppercase;
      white-space: nowrap;
    }

    td {
      border-bottom: 0 !important;
    }

    tbody {
      tr {
        transition: box-shadow 0.2s, transform 0.2s;

        &:not(.v-data-table__selected):hover {
          box-shadow: 0 3px 15px -2px rgba(0, 0, 0, 0.12);
          transform: translateY(-4px);
        }
      }
    }
  }
}

// Tabs
.v-tabs-items {
  background-color: transparent !important;
}

// Buttons
.theme--dark.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
  background-color: #273743;
}

// New Content Style

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #e0e0e0 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #fafafa;
}
*::-webkit-scrollbar-thumb {
  background-color: #eee;
  border-radius: 6px;
  border: 0px solid #ffffff;
}
*::-webkit-scrollbar-thumb:hover {
  background: #ddd;
}
.bullet {
  display: inline-block;
  background-color: var(--v-anchor-base);
  border-radius: 6px;
  width: 8px;
  height: 4px;
  flex-shrink: 0;
}
.roles .v-input__slot {
  margin-bottom: 0;
}

.model-aside {
  width: 500px;
  max-width: 90vw;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  bottom: 0;
  height: 100vh;
  transform: translateX(100%);
  transition: 0.2s;
}
#kt_captured_images {
  width: 600px;
  max-width: 80vw;
}
.model-aside.open {
  transform: none;
}
.model-aside .v-card {
  height: 100%;
}
.model-aside .v-card__text {
  max-height: calc(100% - 62px);
  overflow-y: auto;
}
.data-cont > div {
  margin-bottom: 10px;
  // border: thin solid rgb(204, 204, 204);
  text-align: center;
  line-height: 30px;
  padding: 5px;
  background: #d7dadc;
  border-radius: 2px;
}

.data-cont > div h6 {
  font-size: 1.175rem;
  // border-bottom: 1px solid rgb(204, 204, 204);
  line-height: 30px;
  color: #282c34;
  // color: #ffffff;
}

.data-cont > div p {
  margin-bottom: 0px;
  color: #282c34;
}
#all_captured_images {
}
.model-aside .overlay-wrapper img {
  max-width: 100%;
  height: 100%;
}
.captured_images_scroll {
  overscroll-behavior: contain;
}
.model-aside .overlay-wrapper {
  // border:4px solid #eff2f5;
  border-radius: 6px;
  overflow: hidden;
  height: 150px;
  position: relative;
}
.model-aside .overlay-layer {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #0000003b;
  opacity: 0;
  transition: 0.2s;
}
.model-aside .overlay-wrapper:hover .overlay-layer {
  opacity: 1;
}
.model-aside.filter-report-drawer {
  z-index: 20;
  .v-card {
    display: flex;
    flex-direction: column;
    .v-card__title {
      flex: 0 0 auto;
    }
    .v-card__text {
      flex: 1;
      overflow-x: hidden;
    }
    .card-footer {
      flex: 0 0 auto;
      border-top: 1px solid #eee;
    }
  }
}
.border-bottom {
  border-bottom: 1px solid #eee;
}
.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat)
  > .v-input__control
  > .v-input__slot {
  border: 1px solid #e4e6ef;
  box-shadow: none !important;
}
.image-mark {
  position: absolute;
  background: transparent;
  width: 35px;
  height: 35px;
  border: 2px solid #000;
}
.image-mark.red {
  border-color: red;
}
.image-mark.yellow {
  border-color: yellow;
}
.apexcharts-canvas {
  margin: auto;
}
//list
.text-link {
  text-decoration: none;
  cursor: pointer;
}
.text--secondary.text-link:hover {
  color: var(--v-anchor-base) !important;
}
.apexcharts-legend-marker {
  margin-left: 3px;
}
.apexcharts-tooltip-marker {
  margin-left: 5px !important;
  margin-right: 5px !important;
}
.pipesFilter .v-text-field.v-text-field--solo .v-input__control {
  min-height: 38px !important;
}
.h-38 {
  height: 38px;
}
//datapicker
.vue-daterange-picker {
  width: 230px;
  margin: 0 8px;
}
.reportrange-text {
  padding: 7px 10px !important;
  border: 1px solid #e4e6ef !important;
  border-radius: 6px;
  text-align: center;
}
.daterangepicker .slot {
  background-color: #aaa;
  padding: 0.5rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.text-black {
  color: #000;
}

.daterangepicker.ltr {
  left: -108px !important;
}
.v-application--is-rtl .daterangepicker {
  left: 147% !important;
}
.date-picker .mdi-calendar {
  position: absolute;
  z-index: 1;
  font-size: 17px;
  top: 11px;
  left: 5px;
}
.v-application--is-rtl .date-picker .mdi-calendar {
  left: auto;
  right: 7px;
}
.date-picker .glyphicon {
  opacity: 0;
}
.v-navigation-drawer--close {
  transform: translateX(calc(100% - 55px)) !important;
}
@media (min-width: 1264px) {
  .models-cards .col-lg-2,
  .general-stats-card .col-lg-2 {
    flex: 0 0 14.25%;
    max-width: 14.255%;
  }
}

.card-header.custom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: none;
  .content-cont {
    flex: 1;
  }
}
.theme--light.v-card {
  .c-title {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.87);
  }
}
.model-card .card-body.multi-content {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  overflow-x: auto;
  padding: 0;
  border-top: 1px solid #08080810 !important;
}

.model-card .multi-content > .item-desc {
  padding: 20px 27px;
  flex-grow: 1;
}

.model-card .multi-content > .item-desc + .item-desc {
  border-left: 1px solid #08080810;
}

.model-card .card-body .item-desc .i-title {
  font-weight: 600;
  font-size: 14px !important;
  line-height: 18px;
  color: #a9a9a9;
  margin-bottom: 2px;
}

.model-card .card-body .item-desc .num {
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 0;
}

.extra-cards-cont > .card-header {
  position: relative;
}

.custom--cont {
  padding: 0 16px;
}
.custom--cont .col-lg-6 {
  padding: 8px;
}

.draft-cont .v-card.theme--light.v-sheet--outlined {
  // border-color: rgba(0, 0, 0, 0.08);
  background: rgb(243 243 243);
}

.navigation-cont .v-list .v-list-item--active.primary--text {
  border-left: 3px solid var(--v-primary-base);
}

.v-application--is-rtl
  .navigation-cont
  .v-list
  .v-list-item--active.primary--text {
  border-left: none;
  border-right: 3px solid var(--v-primary-base);
}

.navigation-cont .v-navigation-drawer__content {
  padding: 8px 16px;
}
.navigation-cont .v-list--dense .v-list-item {
  border-radius: 4px;
  overflow: hidden;
}

// .navigation-cont .v-list-group--sub-group.v-list-group--active .v-list-group__items .v-list-item--active{
//   border-right: 3px solid var(--v-primary-base);
// }
.navigation-cont
  .v-list-group.v-list-group--active
  .v-list-group__items
  .v-list-item--active:not(.v-list-group__header) {
  border-right: 3px solid var(--v-primary-base);
}

.theme--light.v-application,
.theme--light.v-app-bar.v-toolbar.v-sheet,
.theme--light.v-app-bar.v-toolbar.v-sheet
  .v-toolbar__content
  > .v-card--flat.v-sheet {
  background: #fafafa;
}
.v-app-bar--fixed {
  border-bottom: 1px solid #e1e1e1 !important;
}
.navigation-cont {
  border-right: 1px solid #e1e1e1;
}
.v-application--is-rtl .navigation-cont {
  border-right: none;
  border-left: 1px solid #e1e1e1;
}
.navigation-cont .v-list.v-sheet > div {
  margin-bottom: 4px;
}
.navigation-cont .v-list--dense .v-list-item .v-list-item__title {
  line-height: 1.4rem;
}
.v-sheet.v-card:not(.v-sheet--outlined) {
  box-shadow: rgba(85, 85, 85, 0.08) 0px 2px 2px -2px,
    rgba(85, 85, 85, 0.06) 0px 2px 10px 0px,
    rgba(85, 85, 85, 0.03) 0px 1px 15px 0px;
}
.v-app-bar-title__content {
  width: fit-content !important;
}
.v-app-bar--is-scrolled .v-toolbar__content {
  padding-bottom: 8px;
}

.v-app-bar--is-scrolled {
  z-index: 1000;
  height: 60px !important;
}
.v-app-bar--is-scrolled .v-toolbar__extension {
  display: none;
}
.v-toolbar__extension {
  margin-left: 50px;
}
.v-application--is-rtl .v-toolbar__extension {
  margin-left: 0;
  margin-right: 50px;
}

.theme--dark {
  --surface-background: #262626;
  --border-color: #6b6b6bad;
}

.theme--dark.v-card,
.theme--dark.v-navigation-drawer {
  background-color: var(--surface-background, #05090c);
}

.theme--dark {
  &.v-application,
  .v-footer {
    background: #161616;
  }
  &.v-app-bar.v-toolbar.v-sheet {
    background-color: #161616;
    .v-card {
      background-color: #161616;
    }
  }
  .v-app-bar--fixed {
    border-bottom: 1px solid var(--border-color, #2b2b2b) !important;
  }
  .navigation-cont {
    border-right: 1px solid var(--border-color, #2b2b2b);
  }
  &.v-application--is-rtl .navigation-cont {
    border-right: none;
    border-left: 1px solid var(--border-color, #2b2b2b);
  }
}

.v-data-table table tbody tr:not(.v-data-table__selected):hover {
  box-shadow: none;
  transform: none;
}
.theme--light.v-data-table
  > .v-data-table__wrapper
  > table
  > tbody
  > tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
  background: #f9f9f9 !important;
}

.theme--light .v-data-table__wrapper thead {
  background: #f3f3f3;
}

.theme--light .v-card__title {
  color: #4d4b55;
  font-size: 1.25rem;
}
.v-application--is-rtl .dt-no_data {
  font-family: "Cairo", Helvetica, sans-serif;
}
.v-data-table.v-data-table--has-bottom {
  height: 100%;
  display: flex;
  flex-direction: column;
  .v-data-footer {
    margin-top: auto;
  }
}

.v-avatar--variant-tonal::before {
  background-color: currentColor;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
  opacity: 0.22;
}

.v-avatar--variant-tonal .v-icon {
  color: inherit;
}
.v-avatar--variant-tonal svg {
  width: 30px;
  height: 30px;
}
.empty-dt .v-data-table__wrapper {
  margin-top: auto;
}
.theme--dark {
  .theme--dark.v-data-table, .theme--dark.v-text-field--solo > .v-input__control > .v-input__slot{
    background-color: inherit ;
  }
  .overlay.theme--dark{
    background-color: rgba(0, 0, 0, 0.2) !important;
  }
}

.theme--light {
  .general-stats-card .v-card__title {
    color: #4d4b55;
    font-size: 1.25rem;
  }
}
